# visual studio 2015/2017 cache/options directory
.vs/
.x64/

# build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

# user-specific files
*.user

# imgui configuration file
imgui.ini

# doxygen documentation
html/
